div.scroll-menu {
  background-color: #000;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  position: fixed;
  top: 1%;
  left: 2%;
  right: 1%;
  z-index: 1000;
}

div.scroll-menu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

div.scroll-menu a:hover {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
}

div.scroll-menu .logo {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-right: auto;
  text-transform: uppercase;
}

div.scroll-menu .search {
  margin-left: auto;
}

div.scroll-menu input[type="search"] {
  padding: 5px 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #222;
  color: white;
  font-size: 14px;
}

div.scroll-menu input[type="search"]::placeholder {
  color: #888;
}