/* general styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #0d1021;
}

/* container styling */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* header styling */
.page-header {
    display: flex;
    box-shadow: 0 4px 17px rgb(80 80 80 / 31%);
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo1 {
    width: 100px;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding-left: 200%;
}


/* navigation styling */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 20%;

}

li a {
    display: block;
    padding: 5px 10px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
}

li a:hover {
    background: linear-gradient(to right, #F7086C 0%, #35c9fc 100%);
    border-radius: 20px;
}

/* main section styling */
.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0;
}

.social a {
    background: linear-gradient(to right, #F7086C 0%, #35c9fc 100%);
    font-size: 24px;
    -webkit-text-fill-color: #000;
    border: 1.6px solid;
    border-color: black;
    display: grid;
    place-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 0.39rem;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;

    animation-name: social;
    animation-duration: 1s;
}

@keyframes social {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



.social a:hover {
    background: linear-gradient(90deg, rgba(255,95,109,1) 0%, rgba(53,201,252,1) 100%);
    box-shadow: 0 0 20px;
}

.detail h1 {
    font-size: 48px;
    margin-bottom: 10px;
    animation-name: h1;
    animation-duration: 1s;
}

@keyframes h1 {
    0% {
        transform: translateY(-200px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.detail h3 {
    font-size: 24px;
    margin-bottom: 20px;

    animation-name: h3;
    animation-duration: 1s;
}

@keyframes h3 {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.detail p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;

    animation-name: p;
    animation-duration: 1s;
}

@keyframes p {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.btn a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00126d;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;

    animation-name: btn;
    animation-duration: 1s;
}

@keyframes btn {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.btn a:hover {
    background: linear-gradient(to right, #F7086C 0%, #35c9fc 100%);
}

.images {
    max-width: 400px;
    margin-top: 20px;
}

.img-w {
    width: 100%;
}

/* responsive styling */
@media screen and (max-width: 768px) {
    .main {
        padding: 20px 0;
    }

    .detail {
        width: 100%;
    }

    .images {
        margin-top: 30px;
    }
}